body {
	background: #5b5b5b;
	font-family: Verdana, Arial, sans-serif;
	margin: 0px auto;
	padding:0px;
	border: 1px solid #333;
	width:760px;
}

iframe
{
	border:0px;
	width:525px;
	float: right;
	margin: 10px;
	margin-top:0px;
	padding-right: 10px;
	border:0px;


}
body.inframe {
	font-size:10pt;
	background:white;
	width:auto;
	border:0px;
}
table.wbrd {
	border-width: 3px;
	border-spacing: 5px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
	text-align:center;
}
table.wbrd th {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 4px;
}
table.wbrd td {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 4px;
}


#page {
	background:white;
	border: 2px solid #555;
	padding: 20px;
}


#toptitle {
		border-top:2px solid #0000FF;
		border-bottom:2px solid #0000FF;
	 	background-color:#ffcc00;	
	 	text-align:center;
	 	font-weight: bold;
	 	height:20px;
	 	padding:3px;
	 	margin-bottom:10px;
}
	 	

#menu {
	float: left;
	width: 150px;
	height: 300px;
	font-weight:bold;
	font-size:14px;
	margin-top:20px;
}

/* used for nav buttons*/
#menu a {
	background-color:#FFCC00;
	margin:2px;
	display: block;
	padding:5px;
	padding-left: 10px;
	padding-right: 6px;
	border-left:2px solid #D7D7D7;
	border-top:2px solid #D7D7D7;
	border-right:2px solid gray;
	border-bottom:2px solid gray;

	color:black;
	text-decoration: none;
}

#menu a:hover {
	background:yellow;
}

.spacer {
	clear: both;
}

#footer {
	font-size: 0.8em;
	color: #666;
	text-align: center;
	margin: 10px 50px 0 50px;
	padding-top: 10px;
	border-top: 1px solid #0000FF;
}

.leds {
	font-size: 34pt;
	color: #ddd;
	
}
.leds a {
	cursor: pointer;
}

.leds a:hover {
	text-decoration:none;
}


.error {
	margin-left: 10px;
	padding: 10px;
	background: #fdd;
	border-left: 2px solid #900;
}


fieldset {
	margin:10px 20px 10px 20px;
	padding: 8px;
	border: 1px dotted #333;
	background:#ddd;
}

fieldset div {
	padding: 2px 0px 2px 150px;
}

fieldset div label {
	margin-left: -145px;
	padding-top: 2px;
	width: 140px;
	font-weight: bold;
	position: absolute;
}

fieldset input {
	width: auto;
}


fieldset textarea {
	width: 250px;
}

.result
{
	margin: 10px 40px 10px 40px;
	padding: 8px;
	border: 1px solid #333;
	text-align: center;
	font-weight: bold;
	background: #eee;
}

	.ok {
		border-color: #6b6;
		background: #efe;
	}
	
	.fail {
		border-color: #b66;
		background: #fee;
	}
	
	.unk {
		border-color: #cc6;
		background: #ffd;
	}
